body {
    margin: 0;
}

.container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    background-color:#e7e7e7;  
    animation: changer 25s infinite; 
}

@keyframes changer {
    0% {
        background-color: #e7e7e7;
    }
    50% {
        background-color: #9a5131;
    }
    100% {
        background-color: #e7e7e7;
    }
}


.image {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
    height: 310px;
    width: 310px;
    padding: 50px;
    text-align: center;
    margin: 15px;
    animation: pulse 3s ease infinite alternate,
    nudge 10s linear infinite alternate;
}

.image img {
    border-radius: 3%;
    height: 350px;
    width: 350px;
    filter: brightness(120%);

}

@keyframes pulse { 
    0%, 100% {
        background-color: #6eb2cc;
    }
    50% {
        background-color: #2f6a87;
    }
}

@keyframes nudge {
    0%, 100% {
        transform: translate(-13%, 0);
    }
    50% {
        transform: translate(13%, 0)
    }
}

